<html lang='en'>

<head>
  <meta charset='utf-8' />
</head>

<body>
  <style>
    .message-content {
      font-family: Arial, Helvetica, sans-serif;
      font-size:
        18px;
      line-height: 24px;
      max-width: 600px;
    }
  </style>

  <div class='message-content'>
    <p>Olá {{name}}!</p>
    <br />

    <p>Recebemos uma solicitação para redefinir sua senha de acesso para sua conta de usuário.</p>
    <p>Se realmente foi você que solicitou, clique no link abaixo para redefinir sua senha: </p>
    <p><a href="{{link}}">Mudar minha senha</a></p>
    <p>Caso não tenha realizado essa solicitação, descarte esse email!</p>
    <br />

    <p>Obrigado!</p>
    <p>Atenciosamente, Equipe de Vendas!</p>
  </div>
</body>

</html>